body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  color: #5a5b5d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 콘텐츠 최상위 Wrapper */
.container {
  max-width: 1024px;
}

/* 태블릿(600 X 960) */
@media (min-width: 600px) and (max-width: 1023px) {
  .container {
    min-width: calc(600px - 12px)
  }
}

/* 데스크탑(1920 X 1080) */
@media (min-width: 1024px) {
  .container {
    min-width: calc(1024px - 12px);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}